.navBar{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 4px rgb(150, 148, 148);
    /* margin-top: 10px; */
    border-radius: 20px;
    padding: 0px 20px;
    position: relative;
}

.logo{
    width: 60px;
}

.logoContainer{
    display: flex;
    gap: 5px;
}

.circle{
    width: 30px;
    height: 30px;
    background-color: #1F216E;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.nameContainer{
    display: flex;
    align-items: center;
    gap: 5px;
}

.nameContainer:hover{
    cursor: pointer;
}

.dropDownContainer{
    width: 200px;
    /* border: 2px solid black; */
    box-shadow: 0px 0px 4px rgb(150, 148, 148);
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 90%;
    right: 30px;
    background-color: white;
}

.logoutBtn{
    background-color: transparent;
    border: none;
    color: red;
    padding: 0px;
    font-size: inherit;
}

.logoutContainer{
    display: flex;
    align-items: center;
    gap: 5px;
    color: red;
    font-size: 1rem;
    
}

.logoutContainer:hover{
    background-color: rgb(241, 133, 133);
}

.line{
    height: 2px;
    background-color: rgb(197, 193, 193);
}